dist: xenial
cache: bundler
language: ruby
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y software-properties-common; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo LC_ALL=C.UTF-8 add-apt-repository -y ppa:ondrej/php; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y libsodium-dev libavahi-compat-libdnssd-dev; fi
install:
  - 'gem update --system'
  - 'gem --version'
  - 'gem install bundler -v 2.0.1'
  - 'bundle --version'
  - bundle
rvm:
  - 2.4.1
  - 2.5
  - 2.6
  - ruby-head
os:
  - linux
  - osx
addons:
  apt:
    packages:
      - libavahi-compat-libdnssd-dev
  homebrew:
    packages:
      - libsodium
notifications:
  email: false
